@import 'https://fonts.googleapis.com/css?family=Cinzel';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';


html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    font-family : sans-serif;
}
.nav_full{
    padding: 0px 200px;
}
.navbar-brand{
    font-weight: bolder;
}
.nav-item{
    margin-right: 2.5rem;
    font-size: 1rem;
}
.nav-link{
    color: #000 !important;
}
.logo{
   font-size: 2rem;
   margin-right: 5px;
   padding: 0px 5px;
   border-radius: 50%;
   font-family: 'Cinzel', serif;
}
.body_section{
    background: url(../images/mountain.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    padding: 80px 0px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
.main-heading{
    font-size: 4.5rem;
}
.main-desc{
    margin: 1rem auto;
    margin-bottom: 2rem;
}
.read_more{
    padding: 10px 20px;
    margin-top: 2rem;
}
.read_more:hover{
    text-decoration: none;
}
.body-container{
    margin: auto;
    box-sizing: auto;
    padding: 0px 100px;
}
.body-container-left{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding-left: 50px;
}
.body-container-right{
    background-color: red;
}
.submit_btn{
    display: block;
    width: 100%;
}
.subs_section{
    padding: 10rem 0px;
}
.rest_container{
 padding: 30px 200px;
}
.about_section{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 5px;
    padding: 4rem 0;
    grid-gap: 2rem;
}
.subcribe_heading{
        margin-bottom: 1.5rem;
        text-align: center;
        color: #fff;
        text-transform: capitalize;
}
.about_section > div{
    padding: 1rem 2rem;
    border-radius: 10px;
}
.book_description{
    padding: 0px 100px;
    margin: 100px 0px;
    padding: 3rem 0;
}
.book_description *{
    text-align: center;
}
.accordion{
    padding: 4rem 0;
}
.accordion button{
   display: block;
   width: 100%;
   text-decoration: none;
}
.accordion button:hover{
     text-decoration: none;
 }
 .accordion button:focus{
     text-decoration: none;
 }
 .card-body{
    text-align: center;
    padding: 2.5rem 0 !important;
    font-size: 1.5rem;
 }
 
.card-header{
    padding: 0;
}
.meet_author{
 margin: 50px 0px;
 padding: 4rem 0;
}
.meet_text{
   text-align: center;
   margin-bottom: 4rem;
}
.meet_text > h5{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.meet_text > p{
    text-align: center;
    font-size: 1rem;
    color: #000 !important;
}
.meet_images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: 4rem 0px !important;
}
.author_container{
    cursor: pointer;
}
.author_container *{
   padding: 0;
   margin: 0;
}
.author_container img{
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    bottom: 30px;
}
.author_container  h5{
    font-weight: bolder;
    margin-bottom: 1rem;
}
.card-text{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.card_description{
    font-size: 1rem;
    text-align: center;
    width: 70%;
    margin: auto;
}
.social_media{
    margin-top: 1.5rem;
}
.social_media i{
 color: #000 !important;
 font-size: 1rem;
}
.contact_section{
    background-color: #f1f1f1;
    padding: 3rem 0;
    border-radius: 5px;
}
.contact_section-left h1{
    font-size: 1.5rem;
    color: #000 !important;
}
.contact_section-left p{
   font-size: 1rem;
}
.contact_section-left form{
    width: 100%;
}
.contact_section-left textarea{
    width: 100%;
}
.contact_section-left button{
    width: 100%;
}
.contact_section-right{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.contact_section-right span{
    font-size: 150px;
    padding: 0px 25px;
    border-radius: 50%;
    font-family: 'Cinzel', serif;
}
.social{
    font-size: 10px;
    margin: 0px 5px;
}
footer p{
    text-align: center;
    padding: 20px 0px;
}
.body-container{
    text-align: center;
    padding: 50px 0px;
    position: relative;
    z-index: 2;
}


@media(max-width: 968px){
    .main-heading{
        font-size: 1.5rem;
    }
    .subs_section{
        padding: 10rem 0px;
    }
    .form_row{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1.5rem;
    }
    .form_row > div{
        margin-top: 1rem;
    }
    .nav_full{
        padding: 0px ;
    }
    .rest_container{
        padding: 30px 0px;
       }
       .about_section{
        width: 80% ;
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 1rem ;
    }
    .meet_author{
        width : 90%; 
        margin: auto;
    }
    .about_section > div{
        margin-left: 2px;
    }
    .meet_images{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1rem;
        margin: 3rem auto;
    }
    .meet_images > div {
        margin-bottom: 2rem;
    }
    .contact_section{
      width: 90%;
      margin: auto;
    }
}